:root {
/* tommy.illustration */
    /* --main: #272526;
    --main-light: #444444;
    --dark: rgb(251, 251, 251);
    --dark-light: #101010;
    --white: rgb(37, 36, 36);
    --grey: rgb(95, 94, 94); */

/* Thomas willow */
    --main: #e4e4e4;
    --main-light: #444444;
    --dark: rgb(0, 0, 0);
    --dark-light: #e2e2e2;
    --white: rgb(245, 245, 245);
    --grey: rgb(170, 170, 170);
}